{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block contenido %}
    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h6 class="titulo panel-title"><strong> Estadistica lineal de compras de representantes</strong></h6>
            </div>
            <div class="panel-body">
                <input title= "" align="left" href="#" type = image src ="{{STATIC_URL}}img/line.png" height = "550" width= "700"></input>
            </div>
            <a class="btn btn-default btn-pull-LEFT" type= "button" href="/index" title = "Salir" >Salir</a>
        </div>
    </div>
{% endblock %}