
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block contenido %}
    <div class="container">
        <div class="panel panel-primary " id="panel-interno">
            <div class="panel-heading">
                <h6 class="titulo panel-title"><strong> Estadistica compras de representantes Lineal</strong></h6>
            </div>
        
        <div class="panel-body">
        	<div class="pull-right">
                <a class="btn btn-default btn-gr" type= "button" href="/index"  title = "Salir" >Salir</a>
            </div>    
        </div>
    </div>
{% endblock %}
