
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block contenido %}
    <div class="container">
        <div class="panel panel-primary " id="panel-interno">
            <div class="panel-heading">
                <h6 class="titulo panel-title"><strong> Estadistica compras de representantes Lineal</strong></h6>
            </div>
        
            <div class="panel-body">
                <form>
                    <text>Seleccione Fecha: </text>
                    <input id="datepicker">Desde

                    <input id="datepicker1">Hasta
                    <a class="btn btn-default btn-gr" type= "button" onClick = 'javascript:commit()'  title = "Salir" >Enviar Consulta</a>
                </form>
            	<div class="pull-right">
                    <a class="btn btn-default btn-gr" type= "button" href="/index"  title = "Commit" >Salir</a>
                </div>    
            </div>
        </div>
    </div>
{% endblock %}
{% block scripts %}
<script type="text/javascript">
    function commit() {
        var hasta = $(datepicker).val();
        var desde = $(datepicker1).val();

        var hastaN = ''; // Cadena nueva
        var desdeN = ''; // Cadena nueva

        for (var i=0; i<hasta.length; i++){
            var c = hasta.charAt(i);
            if (c == " "){
                hastaN = hastaN + "%20";
            }
            else{
                hastaN = hastaN + c;
            }
        }

        for (var i=0; i<desde.length; i++){
            var c1 = desde.charAt(i);
            if (c1 == " "){
                desdeN = desdeN + "%20";
            }
            else{
                desdeN = desdeN + c1;
            }
        }
        alert(hastaN + desdeN);

        window.dialog = new BootstrapDialog.show({
                    title: ('Estadistica uso de Maquinaria'),
                    cssClass: 'show-dialog',
                    closable: true,
                    message: $('<div></div>').load('/esta/'+hastaN+'/'+desdeN),
                    onshown: function(dialog) {
                        var tier = $('.bootstrap-dialog').length - 1;
                        dialog.$modal.prev(".modal-backdrop")
                            .css("z-index", 1030 + tier * 30);
                        dialog.$modal
                            .css("z-index", 1040 + tier * 30);
                    }
                });  
    }

    $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: 'dd mm yy', 
                                        inline: true
        });
    });
    $(function() {
        $( "#datepicker1" ).datepicker({ dateFormat: 'dd mm yy', 
                                        inline: true
        });
    });

</script>
{% endblock %}
