<div class="panel-body">
        <form class="form-horizontal"> 
            
            <div class = 'row'> 
                <fieldset>
                    <legend>
                        <font color = "Black" size=3 face="Comic Sans MS"><h4>Seleccione Estancia - Lote</h4></font>
                    </legend>
                    <div class="col-md-2"><label>Estancia: </label></div>
                    <div class="col-xs-6 col-sm-4">
                        <select id="estanciaCombo"> 
                            <option value='0'>   ---  Seleccionar  ---   </option>
                            {% for estancia in estancias %}
                                <option value='{{estancia.CUIT}}'>{{estancia.Nombre}}</option>
                            {% endfor %}
                        
                        </select> 
                    </div>

                    <div class="col-md-1"><label>Lote: </label></div>
                    <div class="col-xs-6 col-sm-3">
                        <select id="lotesCombo">
                            <option value='0'>   ---  Seleccionar  ---   </option>
                        </select> 
                    </div>
                </fieldset>
            </div>
            <fieldset>
                <legend>
                    <font color = "Black" size=3 face="Comic Sans MS"><h4>Seleccione Fardos</h4></font>
                </legend>
                <select id="FardosCombo" multiple="True"></select> 
            </fieldset>
        </form>
</div>    

<div class="modal-footer">
    <div class="bootstrap-dialog-footer">
        <div class="bootstrap-dialog-footer-buttons">
            <button class="btn btn-default" onClick="submit({{NroOrden}})" type="Submit" id="agregar">Agregar</button>
            <button class="btn btn-default" data-dismiss='modal' >Salir</button>
        </div>
    </div>  
</div>



<script type="text/javascript">

var campos=[]      /* Variable global para poner los selected */

function submit(orden){
    if (campos == "") {
        BootstrapDialog.show({
            title: 'Error',
            cssClass: 'error-dialog',
            message: 'Debe Seleccionar al menos 1 Fardo!',
            type: BootstrapDialog.TYPE_DANGER, 
            buttons: [
                {
                    label: 'Aceptar',
                    action: function(dialogRef){
                        dialogRef.close();
                    }
                }]
        });
    }
    else{
        $.ajax({
            type: 'get',
            dataType: 'html',
            url: '/agregaDetalleOrden/'+ campos + '/' + orden,
        });
        BootstrapDialog.show({
            title: 'Aviso',
            cssClass: 'error-dialog',
            message: 'Detalle Agregado a Orden!',
            type: BootstrapDialog.TYPE_WARNING, 
            buttons: [
                {
                    label: 'Aceptar',
                    action: function(dialogRef){
                        dialogRef.close();
                    }
                }]
        });
        $("#FardosCombo").hide();
    }
}


$( document ).ready(function() {

    $("#FardosCombo").hide();
    $("#estanciaCombo").change(function() 
    {
        var idEstancia = $(this).val();
        var cbLotes = $("#lotesCombo");
        var cbFardos = $("#FardosCombo");

        cbLotes.empty();
        cbLotes.append("<option value = 0>" + "--- Seleccionar ---" + "</option>");

        $("#FardosCombo").hide();

        /* Serializacion en Django: {"pk": ,"model":, "fields": { "nombre": "valor",} } */

        $.ajax({
            type: 'get',
            dataType: 'html',
            url: '/loteEstancia/'+idEstancia,
            success: function(json){
                lista = JSON.parse(json);
                
                for(var i in lista){
                    cbLotes.append("<option value="+lista[i].pk+">Lote: " + lista[i].pk +' - Peso: '+ lista[i].fields.Peso +"</option>");
                }
            }
        });
    });

    $("#lotesCombo").change(function() 
    {
        var idLote = $(this).val();
        var cbFardos = $("#FardosCombo");

        cbFardos.empty();
       
        $("#FardosCombo").show();

        $.ajax({
            type: 'get',
            dataType: 'html',
            url: '/fardosLote/'+idLote,
            success: function(json){
                lista = JSON.parse(json);
                
                for(var i in lista){
                    cbFardos.append("<option value="+lista[i].pk+"> NroFardo: " + lista[i].pk+ "  Peso: "+ lista[i].fields.Peso + '  Rinde: ' +lista[i].fields.Rinde + '  Finura: ' +lista[i].fields.Finura +'  CVH: ' +lista[i].fields.CV +'  HM: ' +lista[i].fields.AlturaMedia +'  Romana: ' +lista[i].fields.Romana + "</option>");
                }
            }   
        });
    });

     $("#FardosCombo").change(function(){
        campos = []
        $("#FardosCombo option:selected").each(function() { 
            campos.push($(this).val());
        });         
    });

});

</script>

