<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="/static/img/sheep.ico" />



        <title>Fuhrmann S.A.</title>

        <!-- StyleSheets -->    
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{STATIC_URL}}css/modern-business.css" rel="stylesheet">
        <!-- Bootstrap Core CSS -->
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{STATIC_URL}}css/sb-admin.css" rel="stylesheet">

        <!-- Custom CSS FOR DATEPICKER-->
        <link href="{{STATIC_URL}}JQueryCustom/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="{{STATIC_URL}}css/plugins/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{STATIC_URL}}font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Modal box Fonts -->
        <link href="{{STATIC_URL}}css/jquery.modal.css" rel="stylesheet">

        <link href="{{STATIC_URL}}bootstrap-dialog.css" rel="stylesheet">

        {% block stylesheet %}{% endblock %}
    
    </head>


    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class='row'> 
                <div class= 'col-md-50' align="center"> <a href='/index'><font size="6" color = "grey"><strong>Fuhrmann</strong></font></a></div>
                


    {% block contenido %}
    <div class  = "container">
        <div class = "col-md-3">
         
            <input title= "" align="right" href="#" type = image src ="{{STATIC_URL}}img/estancia1.jpg" height = "110"></input>
               
        </div>

        <div class = "col-md-3">
               
           <input title= "" align="center" href="#" type = image src ="{{STATIC_URL}}img/7.jpg" height = "110" ></input> 

        </div>


        <div class = "col-md-3">
         
            <input title= "" align="right" href="#" type = image src ="{{STATIC_URL}}img/3.jpg" height = "110"></input>
        </div>


        <div class = "col-md-1">
         
            <input title= "" align="left" href="#" type = image src ="{{STATIC_URL}}img/estancia2.jpg" height = "110"></input>
               
        </div>  


        <div class = 'col-md-12'>


            <br><strong><h4 class="panel-title pull-left" style="padding-top: 10.5px;"><p align=center><font size = "5"color = "#FFFF00">Quienes Somos?</font></h4></strong></br></p>

            <br><font size = "3"color = "#FFFFFF"><p>Somos una empresa perteneciente a un grupo internacional y nuestro principal objetivo es obtener beneficios monetarios respetando un conjunto de valores y actuando conforme a una ética social.</br>Realizamos dos tipos de actividades las cuales están muy relacionadas entre sí. Una de ellas es la Administración de Estancias que involucra el seguimiento de los trabajos que se realizan en los campos que administran la producción y comercialización de lana ovina y fibras especiales.La otra es la actividad vinculada a la compra, procesamiento y venta de fibras naturales, fundamentalmente de lana ovina, además de otros tipos de fibras (especiales) que involucran fibras de llamas, vicuñas, etc. </p></font>

            <br><strong><h4 class="panel-title pull-left" style="padding-top: 10.5px;"><p align=center><font size = "5"color = "#FFFF00">Nuestro Personal</font></h4></strong></br></p>


            <br><font size = "3"color = "#FFFFFF"><p> Internamente nuestra empresa se encuentra organizada de la siguiente manera:</br>

            <li>Compras</li>
            <li>Ventas</li>
            <li>Administración</li>
            <li>Producción: Esta área cuenta con mayor número de personal ya que posee un gerente de planta quien tiene a su cargo una oficina técnica, la cual se encarga de regular nuestro laboratorio interno y los departamentos de Mantenimiento y Producción.</br>
            <li>Barraca: Allí se estiba la lana. El encargado de este sector, si bien está vinculado con el sector industrial, depende del sector comercial.</li>
            <li>Administración de estancias</li>
            <li>Logística</li>
            <li>Recursos Humanos</li>
            </p></font></br>
        </div>

        {% endblock %}
    </div>
 

</html>
