<html>
    <head>
        <link href="{{STATIC_URL}}csslogin.css" rel="stylesheet">
    </head>
      {% block content %}
      {% endblock %}

<style>
#footer { position: relative; margin-top: 250px; /* altura en px del footer con valor negativo */ height: 50px; /* Altura del Footer en px*/ clear: both; text-align: center; color: #FFF; }
</style>

    <div id="footer">
        <div class = "col-md-12" >
            <fieldset>
                <legend align = center>
                    Fuhrmann S.A. &copy; 2014. Designed by Carabajal Diego - Raies Matias - Santos Carla - Wheeler Mariana. Todos los derechos reservados.
                </legend>
          </fieldset>
        </div>
    </div>

    {% block scripts %}{% endblock %}

</html>
