{% extends "baseLogin.html" %}
{% block content %}


<body onload="actualizaReloj()">
    <div id="Fecha_Reloj"></div>
</body>

<section class="login">
    <div class="titulo">Fuhrmann S.A</div>
    <form class="form" onreset = "javascript:algo()" method="post" id="formid">
        <input type="text" id="username" placeholder="Usuario" name="username" data-icon="U" tabindex="1" required>
        <input placeholder="Contraseña" type="password" name="password" id="password" data-icon="x" tabindex="2" required>
        
        <div class="olvido">
            <div class="col">
                <label><a href="javascript:recovery();">Olvidé mi contraseña</a></label>
            </div>
        </div>
        <input type="submit" class="enviar" value="Ingresar" tabindex="4">
        {% csrf_token %}
            {% if next %}
                <input type="hidden" value="{{next}}" name="next" id = "nexts">
            {% endif %}

    </form>
</section>

<div class = "col-md-12">
    <div id ="error">
        {% if login_form.non_field_errors %}
            <ul class='form-errors'>
                {% for error in login_form.non_field_errors %}
                    <h1 align = "center"><font color = "#FE2E2E" size = "3">{{ error }}</font><h1>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
{% endblock %}



{% block scripts %}

    <!-- jQuery Version 1.11.0 -->
    <script src="{{STATIC_URL}}js/jquery-1.11.0.js"></script>
    <script type="text/javascript">

    function recovery(){
        var cuadri = document.getElementById('username');
        window.location = "/recoveryPassword/" + cuadri.value;
    }
    </script>
{% endblock %}
