{% extends "baseLogin.html" %}
{% block content %}

<style>
body {background: no-repeat center top;margin: 30; padding: 20px; font-family:Arial, Helvetica, sans-serif; font-size:14px; color:#666666;}
.error_page {width: 400px; padding: 50px; margin: auto;}
.error_page h1 {margin: 20px 0 0;}
.error_page p {margin: 10px 0; padding: 0;}     
a {color: #9caa6d; text-decoration:none;}
a:hover {color: #9caa6d; text-decoration:underline;}

em.error {
    background:url("{{STATIC_URL}}img/uncheck.png") no-repeat 0px 0px;
    padding-left: 16px;
}
em.success {
    background:url("{{STATIC_URL}}img/check.png") no-repeat 0px 0px;
    padding-left: 16px;
}

</style>

<div class="container">
    <div id="login" class = "col-md-12">
        <table width="75%" align = "center" border = "0" cellpadding = "20">
            <tr><td><fieldset>
                <legend>
                    <h3 align = "center"><strong><font color="black">Fuhrmann S.A</font></strong></h3>
                </legend>

                <form class="form" name="LoginForm" action="/login/" method="post" id="formid">
                {% csrf_token %}
                {% if next %}
                    <input type="hidden" name="next" value="{{ next }}" />
                {% endif %}
                <div class="control-group">
                    <div class="controls">
                        <div class = "col-md-4"></div>
                        <div class = "col-md-8">
                            <input type="text" id="username" name="username"  placeholder="Usuario" size="26">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class = "col-md-4"></div>
                        <div class = "col-md-8">
                            <input class="input-medium search-query" type="password" name="password" id="password" placeholder="Contraseña" size="26">
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div id = 'submit'>
                        <div class="controls">
                            <div class = "col-md-12"></div>
                            <div class = "col-md-5"></div>
                            <div class = "col-md-7">
                                <button type="submit" class="btn btn-default">Sign In</button>
                            </div>
                        </div>
                    </div>
                </div>

                </form>
                <div class = "col-md-12">
                    <div id ="error">
                        {% if login_form.non_field_errors %}
                            <ul class='form-errors'>
                                {% for error in login_form.non_field_errors %}
                                    <h5 align = "center"><li><font color = "red">{{ error }}</font></li><h5>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </div>
                </div>
            </fieldset></td></tr>
        </table>
    </div>
</div>

{% endblock %}
{% block scripts %}

    <!-- jQuery Version 1.11.0 -->
<script src="{{STATIC_URL}}js/jquery-1.11.0.js"></script>
<script src="{{STATIC_URL}}jquery.validate.js" type="text/javascript"></script>
<script type="text/javascript">

// this one requires the value to be the same as the first parameter
$.validator.methods.equal = function(value, element, param) {
    return value == param;
};

$().ready(function() {

    $("#formid").validate({
        errorElement: "em",
        success: function(label) {
            label.text("Ok!").addClass("success");
        },
        rules: {
            username: { required: true, minlength: 2},
            password: { required: true, minlength: 2},
        },
        messages: {
            username: "<font>Min. 2 Caracteres!</font>",
            password: "<font>Min. 2 Caracteres!</font>",
        },
    });
});
</script>

{% endblock %}
