{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
    <div class="container">
            <div class="panel panel-green">
                <div class="panel-heading clearfix">
                    <h4 class="panel-title pull-left" style="padding-top: 10.5px;"> <font size = "5"color = "000000">Registrar estancia</font></h4>
                    <div class="btn-group pull-right">
                        <a class="btn btn-default" type="button" title = "Ayuda" onClick="ayuda('<strong>Ayuda registrar estancia</strong>','El formulario <strong>registrar estancia</strong> solicita el ingreso del CUIT (formato XX-XXXXXXXX-X), nombre, provincia, zona, representante y nombre del productor asociado a la estancia.</br><br> Todos los campos son obligatorios.</br><br>Presione el botón <strong>registrar</strong> para agregar una nueva estancia.</br><br>Presione el botón <strong>cancelar</strong> para volver al listado de estancias.</br>')"><span class="glyphicon glyphicon-question-sign"></span></a>
                    </div>
                </div>
                <div class="panel-body">
                    {% crispy formulario %}
                </div>
            </div>
        </div>
</div>

{% endblock %}