<!DOCTYPE html>
<html lang='es'>
<meta charset='utf-8'>
<link rel='stylesheet' href= '{{STATIC_URL}}css/bootstrap.css'>
<link rel='stylesheet' href= '{{STATIC_URL}}css/base.css'>

    <head><div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title2">Baja de Estancia</h3>

    </head>
    <head><div class="panel panel-info">                    
        <div class="panel-heading">{% block title %}{% endblock %}  
    </head>

	<form role="form">
        
        <div class="form-group">
            <label for="exampleInputCuit">CUIT</label>
            <input type="cuit" class="form-control" id="exampleInputCuit" placeholder="Ingrese CUIT">
        </div>
       
        <button type="button" class="btn btn-primary">Agregar</button>
        <button type="cancelar" class="btn btn-primary">Cancelar</button>
    </form>
</html>