<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <link rel="shortcut icon" href="/static/img/sheep.ico" />

        <title>Fuhrmann S.A.</title>

        <!-- StyleSheets -->    
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{STATIC_URL}}css/modern-business.css" rel="stylesheet">
        <!-- Bootstrap Core CSS -->
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{STATIC_URL}}css/sb-admin.css" rel="stylesheet">

        <!-- Custom CSS FOR DATEPICKER-->
        <link href="{{STATIC_URL}}JQueryCustom/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="{{STATIC_URL}}css/plugins/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{STATIC_URL}}font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        <!-- Modal box Fonts -->
        <link href="{{STATIC_URL}}css/jquery.modal.css" rel="stylesheet">

        <link href="{{STATIC_URL}}bootstrap-dialog.css" rel="stylesheet">

        {% block stylesheet %}{% endblock %}
    
    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        
        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class='row'> 
                <div class= 'col-md-2' align="right"> <a href='/index'><font size="6" color = "grey"><strong>Fuhrmann</strong></font></a></div>
                <div class = 'col-md-7'></div>
                <div class = 'col-md-3'>
                    <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-left">                
                            <li><a href="/usuario" class ="btn" data-toggle="tooltip"title = "Iniciar Sesion" >Iniciar Sesión</a></li>
                            <li><a href="#" class ="btn" data-toggle="tooltip" onmouseDown = "alert('Error 404 - Dont Implement')"  title = "Informacion de App" >Acerca De</a></li> 
                        </ul>
                    </div>
                </div>
            </div>
            <div class='row'>     
                <div class='col-md-1'></div>
                <div class = 'col-md-10'>
                    <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
                    <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
                        <ul class="nav navbar-nav navbar-left">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"  title = "Registrar Compra - Venta" ><i class="fa fa-fw fa-desktop"></i> <strong>REGISTRO DE OPERACIÓN </strong><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a class ="btn" href="/listadoCompra">Compras</a></li>
                                    <li><a class ="btn" href="/listadoVenta">Ventas</a></li>
                                </ul>
                            </li>

                            <li class="dropdown">

                                <a href="/listadoEstancias" class="btn" data-toggle="btn"  title = "Adm. Estancias" ><i class="fa fa-fw fa-home"></i> <strong>ESTANCIAS</strong> </a>

                                
                            </li>

                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"  title = "Adm.Lotes - Fardos" ><i class="fa fa-fw fa-edit"></i> <strong>LOTES & FARDOS</strong> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a class ="btn" href="/listadoLotes">Lotes</a></li>
                                    <li><a class ="btn" href="/listadoFardos">Fardos</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"title = "Adm. Personal" ><i class="fa fa-fw fa-user"></i> <strong>PERSONAL </strong><b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a class ="btn" href="/listadoProductores">Productores</a></li>
                                    <li><a class ="btn" href="/listadoRepresentante">Representantes</a></li>
                                </ul>
                            </li>  
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" title = "Procesos de Produccion" ><i class="fa fa-fw fa-desktop"></i> <strong>PRODUCCIÓN</strong> <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    <li><a class ="btn" href="/listadoOrden">Orden de Producción</a></li>
                                    <li><a class ="btn" href="/listadoMaquinaria">Maquinarias</a></li>
                                </ul>
                            </li>

                            <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"></b></a></li> 
                        </ul>
                    </div>

                </div>
            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container -->
        </nav>   

    </body>
   
<style>
   .show-dialog .modal-dialog {
        width: 1000px;
    }
   .error-dialog .modal-dialog {
        width: 400px;
    }
   .showfardo-dialog .modal-dialog {
        width: 700px;
    }
    .aviso-dialog .modal-dialog {
        width: 600px;
    }
</style>

    {% block contenido %}{% endblock %}
   
   
    <div id="footer">
        <div class = "col-md-12">
            <p align=center>Fuhrmann S.A &copy; 2014. Designed by  Santos Carla - Raies Matias - Wheeler Mariana - Carabajal Diego. Todos los derechos reservados. </p>
        </div>

    <div class = "col-md-2">
            <p>Contactenos</p>
            <input title= "Gmail" href="#" type = image src ="{{STATIC_URL}}img/gmail.png" height = "40" ></input> 
            <input title= "Twitter" href="#" type = image src ="{{STATIC_URL}}img/twitter.png" height = "40"  ></input>
            <input title= "Facebook" href="#" type = image src ="{{STATIC_URL}}img/facebook.png"  height = "40" ></input>
        </div>
    </div>
   
    <!-- JavaScripts -->

    <!-- jQuery Version 1.11.0 -->
    <script src="{{STATIC_URL}}js/jquery-1.11.0.js"></script>
    <!--For datepicker-->
    <script src="{{STATIC_URL}}js/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    <!-- Modal box JQuery -->
    <script src="{{STATIC_URL}}js/jquery.modal.min.js"></script>
    <!-- Modal Bootstrap-dialog -->
    <script src="{{STATIC_URL}}bootstrap-dialog.js"></script>


    <script>
        $('.glyphicon').tooltip() 
        $('.dropdown-toggle').tooltip()
        $('.btn').tooltip()
        $('.carousel').carousel({ /* Script to Activate the Carousel */
            interval: 5000 /* changes the speed */
        })
    </script>

    
    <script>
    function eliminar(url, title, message) { /* Funcion para confirmar operaciones, 
                                        recibe como parametros la url en caso 
                                            de aceptar y el titulo */

        BootstrapDialog.show({
            title: title,
            cssClass: 'error-dialog',
            message: message,
            type: BootstrapDialog.TYPE_WARNING, 
            buttons: [
                {
                    label: 'Si',
                    action: function(dialogRef){
                        window.location=url
                        dialogRef.close();
                    }
                },
                {
                    label: 'No',
                    action: function(dialogRef){
                        dialogRef.close();
                    }
                }]
        });
    };


    function ayuda(title, message) {
        BootstrapDialog.show({
            title: title,
            cssClass: 'aviso-dialog',
            message: message,
            type: BootstrapDialog.TYPE_INFO, 
            buttons: [
                {
                    label: 'Aceptar',
                    action: function(dialogRef){
                        dialogRef.close();
                    }
                }]
        });
    };


    function errorBuscar(url, id){

        if (id != ''){
            window.location=url+id;
        }
        else{
            BootstrapDialog.show({
                title: "Error",
                cssClass: 'error-dialog',
                message: "Debe ingresar un criterio de Busqueda.",
                type: BootstrapDialog.TYPE_DANGER, 
                buttons: [{
                        label: 'Aceptar',
                        action: function(dialogRef){
                            dialogRef.close();
                        }
                }]
            });
        }
    }    
    </script>


    {% block scripts %}{% endblock %}
</html>
