<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Fuhrmann S.A </title>

        <!-- StyleSheets -->    
        <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{STATIC_URL}}css/modern-business.css" rel="stylesheet">
        <!-- Bootstrap Core CSS -->
        <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="{{STATIC_URL}}css/sb-admin.css" rel="stylesheet">

        <!-- Custom CSS FOR DATEPICKER-->
        <link href="{{STATIC_URL}}JQueryCustom/css/custom-theme/jquery-ui-1.10.0.custom.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="{{STATIC_URL}}css/plugins/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="{{STATIC_URL}}font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
        {% block stylesheet %}{% endblock %}
    
    </head>

    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/index" title="Home . Fuhrmann S.A"><font size="5.2" color= "E6E0F8">Fuhrmann S.A</font></a>
            </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-right">                
                    <li><a href="#" class ="btn" title="Iniciar Sesion" data-toggle="tooltip" data-placement="bottom" onmouseDown = "alert('Error 404 - Dont Implement')">Iniciar Sesión</a></li>
                    <li><a href="#" class ="btn" title="Acerca de Nosotros" data-toggle="tooltip" data-placement="bottom" onmouseDown = "alert('Error 404 - Dont Implement')">Acerca De</a></li>
                    <li><a href="#" class ="btn" title="Contacto" data-toggle="tooltip" data-placement="bottom" onmouseDown = "alert('Error 404 - Dont Implement')">Contacto </a></li>

                    <li><a href="#">  </a></li> <!-- Para que se vea espaciado -->
                </ul>
            </div>
            
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse" id="navbar-ex1-collapse">
                <ul class="nav navbar-nav navbar-left">

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom" title = "Registro de Operación"><i class="fa fa-fw fa-desktop"></i> REGISTRO DE OPERACIÓN <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class ="btn" href="/registrarCompra" title="Registrar Compra">Registrar Compra</a></li>
                            <li><a class ="btn" href="/registrarVenta" title="Registrar Venta">Registrar Venta</a></li>
                        </ul>
                    </li>

                    
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom" title = "Estancias"><i class="fa fa-fw fa-home"></i> ESTANCIAS <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class ="btn" href="/registrarEstancia" title= "Registrar Estancia">Registrar Estancia</a></li>
                            <li><a class ="btn" href="/modificarEstancia" title= "Modificar Estancias">Modificar Estancia</a></li>
                        </ul>
                    </li>


                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom" title = "Lotes y Fardos"><i class="fa fa-fw fa-edit"></i> LOTES & FARDOS <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class ="btn" href="/registrarLote" title= "Registrar Lote">Registrar Lote</a></li>
                            <li><a class ="btn" href="/modificarLote" title= "Modificar Lote">Modificar Lote</a></li>
                            <li><a class ="btn" href="/registrarFardo" title= "Registrar Fardo">Registrar Fardo</a></li>
                            <li><a class ="btn" href="/modificarFardo" title="Modificar Fardo">Modificar Fardo</a></li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom" title = "Registro de Personal"><i class="fa fa-fw fa-user"></i> PERSONAL <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class ="btn" href="/registrarProductor" title="Registrar Productor">Registrar Productor</a></li>
                            <li><a class ="btn" href="/modificarProductor" title="Modificar Productor">Modificar Productor</a></li>
                            <li><a class ="btn" href="/eliminarProductor" title="Eliminar Productor">Eliminar Productor</a></li>
                            <li><a class ="btn" href="/registrarRepresentante" title= "Registrar Representante">Registrar Representante</a></li>
                            <li><a class ="btn" href="/modificarRepresentante" title="Modificar Representante">Modificar Representante</a></li>
                            <li><a class ="btn" href="/eliminarRepresentante" title= "Eliminar Representante">Eliminar Representante</a></li>
                        </ul>
                    </li>  
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-placement="bottom" title = "Producción"><i class="fa fa-fw fa-desktop"></i> PRODUCCIÓN <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a class ="btn" href="/nuevaOrdenProduccion" title= "Generar Orden de Producción">Generar Orden de Producción</a></li>
                            <li><a class ="btn" href="/modificarOrdenProduccion" title= "Modificar Orden de Producción">Modificar Orden de Producción</a></li>
                            <li><a class ="btn" href="/cancelarOrdenProduccion" title="Cancelar Orden de Producción">Cancelar Orden de Producción</a></li>
                            <li><a class ="btn" href="/enviarFaseProduccion" title="Enviar a Fase de Producción" >Enviar a Fase de Producción</a></li>
                            <li><a class ="btn" href="/finalizarFaseProduccion" title="Finalizar Fase de Producción">Finalizar Fase de Producción</a></li>
                            <li><a class ="btn" href="/registrarMaquinaria" title="Registrar Maquinaria">Registrar Maquinaria</a></li>
                            <li><a class ="btn" href="/modificarMaquinaria" title="Modificar Maquinaria">Modificar Maquinaria</a></li>
                        </ul>
                    </li>

                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"></b></a></li> 
                </ul>

                <div class="input-group">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button" title="Buscar Ej: Nro. Orden - Dni - Nro. Maquina" onmouseDown = "alert('Error 404 - Dont Implement')"><span class="glyphicon glyphicon-search"></span></button>
                    </span>
                    <input type="text" class="form-control" placeholder="Buscar" style = 'width:200px;'></input>
                </div>   

            </div>
            <!-- /.navbar-collapse -->
            <!-- /.container -->
        </nav>   
    </body>

    {% block contenido %}{% endblock %}

    <div id="footer">
        <p align=center>Fuhrmann S.A &copy; 2014. Designed by Carabajal Diego - Santos Carla - Wheeler Mariana - Raies Matias</p>
        <input align=right title= "Gmail" href="#" type = image src ="{{STATIC_URL}}img/gmail.png" width = "40" height = "40"></input> 
        <input align=right title= "Twitter" href="#" type = image src ="{{STATIC_URL}}img/twitter.png" width = "40" height = "40"></input>
        <input align=right title= "Facebook" href="#" type = image src ="{{STATIC_URL}}img/facebook.png" width = "40" height = "40"></input>
    </div>


    <!-- JavaScripts -->
    <!-- Morris Charts JavaScript -->
    <script src="{{STATIC_URL}}js/plugins/morris/raphael.min.js"></script>
    <script src="{{STATIC_URL}}js/plugins/morris/morris.min.js"></script>
    <script src="{{STATIC_URL}}js/plugins/morris/morris-data.js"></script>
    <!-- jQuery Version 1.11.0 -->
    <script src="{{STATIC_URL}}JQueryCustom/js/jquery-ui-1.9.2.custom.min.js"></script>
    <script src="{{STATIC_URL}}js/jquery-1.11.0.js"></script>
    <!--For datepicker-->
    <script src="{{STATIC_URL}}js/jquery-ui.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="{{STATIC_URL}}js/bootstrap.min.js"></script>
    
    

    <script>
        $('.glyphicon').tooltip() 
        $('.dropdown-toggle').tooltip()
        $('.btn').tooltip()
        $('.carousel').carousel({ /* Script to Activate the Carousel */
            interval: 5000 /* changes the speed */
        })
    </script>
    {% block scripts %}{% endblock %}
</html>

