{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
  <div class="panel panel-yellow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Listado de Productores</strong></h4>
                  <form action="." method="GET">
                    <label for="q">Search: </label>
                    <input type="text" name="q" value="{{ query|escape }}">
                    <input type="submit" value="Search">
                  </form>
            </div>

            {% for persona in results %}
              <label>{{persona.DNI}}</label>
            {% endfor %}
</div>
</div>
{% endblock %}