<div class="panel-body">
    <div class="col-md-12">
        <form class="form-horizontal"> 
            <div class='row'>
                <div class = 'col-md-9'></div>
                <div class = 'col-md-3'><img src = "{{STATIC_URL}}img/icono.png" width="180px"></div>
            </div>   

            <fieldset>
                <legend>                      
                    <div class="form-group">
                        <div><font color = "Black" size=2 face="Comic Sans MS"><h4>Datos de Servicios a Realizar de la Orden</h4></font></div>
                    </div>
                </legend>
                <div class="jumbotron">
                    <div class="form-group">
                        <div class="controls col-md-6">
                            <font size=3 face="Comic Sans MS"><label>Servicios:</label></font>
                        </div>

                        <div class="controls col-md-6">
                            {% for servicio in orden.Servicio.all %}
                                <label><font size=3 face="Comic Sans MS">{{servicio.Nombre}} - </font></label>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </fieldset>
        
        
            <fieldset>
                <legend>
                    <font color = "Black" size=3 face="Comic Sans MS"><h4>Especificaciones Tecnicas</h4></font>
                </legend>
                <div class="jumbotron">

                    <table  class="table table-striped table-bordered table-condensed" id="tableLote">
                        <thead>
                   
                            <tr>
                                <th style="text-align:center;" width="30%"><font size=3 face="Comic Sans MS">Especificacion</font></th>
                                <th style="text-align:center;" width="20%"><font size=3 face="Comic Sans MS">Valores</font></th>
                                <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">UnidadMedida</font></th>
                            </tr>

                            <tr>
                                <td style="text-align:rigth;" width="40%"><font size=3 face="Comic Sans MS">Cantidad Requerida</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{orden.CantRequerida}}</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">Kg.</font></td>
                            </tr>
                            
                            <tr>
                                <td style="text-align:rigth;" width="40%"><font size=3 face="Comic Sans MS">C. Variacion</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{orden.CV}}</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">%</font></td>
                            </tr>

                            <tr>
                                <td style="text-align:rigth;" width="40%"><font size=3 face="Comic Sans MS">Altura Media</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{orden.AlturaMedia}}</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">mm</font></td>
                            </tr>

                            <tr>
                                <td style="text-align:rigth;" width="40%"><font size=3 face="Comic Sans MS">Finura</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{orden.Finura}}</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">Micrones</font></td>
                            </tr>

                            <tr>
                                <td style="text-align:rigth;" width="40%"><font size=3 face="Comic Sans MS">Romana</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{orden.Romana}}</font></td>
                                <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">%</font></td>
                            </tr>
                        </thead>
                    </table>
                </div>    
            </fieldset>
               
            <fieldset>
                <legend>
                    <font color = "Black" size=3 face="Comic Sans MS"><h4>Especificaciones de Lana a Procesar</h4></font>
                </legend>
                <div class="jumbotron"> 
                    <table  class="table table-striped table-bordered table-condensed" id="tableLote">
                        <thead>
                                 <tr>
                                    <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">Nro.</font></th>
                                    <th style="text-align:center;" width="40%"><font size=3 face="Comic Sans MS">Descripcion</font></th>
                                    <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">Fardos</font></th>
                                    <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">Neto</font></th>
                                    <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">Finura</font></th>
                                    <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">HM</font></th>
                                    <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">CVH</font></th>
                                    <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">Rinde</font></th>
                                    <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">Romana</font></th>

                                </tr>
      
                            {% regroup detalles by nroDetalle as datos %}<ul>
                                {% for nroDetalle in datos %}       
                                    {% for item in nroDetalle.list %}
                                         <tr>
                                            <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{nroDetalle.grouper}}</font></td>
                                            <td style="text-align:center;" width="40%"><font size=3 face="Comic Sans MS">{{item.estancia}}</font></td>
                                            <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{item.cantidad}}</font></td>
                                            <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{item.peso}}</font></td>
                                            <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{item.Finura}}</font></td>
                                            <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{item.HM}}</font></td>
                                            <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{item.CVH}}</font></td>
                                            <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{item.Rinde}}</font></td>
                                            <td style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{item.Romana}}</font></td>
                                        </tr>
                                    {% endfor %}
                                {% endfor %}
                                <tr>
                                    {% for total in totales %} 
                                        <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS"></font></th>
                                        <th style="text-align:center;" width="40%"><font size=3 face="Comic Sans MS"></font></th>
                                        <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{ total.total_cantidad }}</font></th>
                                        <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{ total.total_peso }}</font></th>
                                        <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{ total.total_finura }}</font></th>
                                        <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{ total.total_hm }}</font></th>
                                        <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{ total.total_cvh }}</font></th>
                                        <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{ total.total_rinde }}</font></th>
                                        <th style="text-align:center;" width="10%"><font size=3 face="Comic Sans MS">{{ total.total_romana }}</font></th>
                                    {% endfor %}
                                </tr>
                            </ul>
                        </thead>
                    </table>
                </div>
            </fieldset>
        </form>

    </div>
</div>    