{% extends 'base.html' %}
{% load crispy_forms_tags %}


{% block contenido %}
           <!-- Header Carousel -->
        <header id="myCarousel" class="carousel slide">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
            </ol>
            <!-- Wrapper for slides -->
            <div class="carousel-inner">
                <div class="item active">
                    <div class="fill" style="background-image:url({{STATIC_URL}}img/estancia2.jpg);"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url({{STATIC_URL}}img/1.jpg);"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url({{STATIC_URL}}img/2.jpg);"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url({{STATIC_URL}}img/lana.jpg);"></div>
                </div>
                <div class="item">
                    <div class="fill" style="bajckground-image:url({{STATIC_URL}}img/3.jpg);"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url({{STATIC_URL}}img/fardos.jpg);"></div>
                </div>
                <div class="item">
                    <div class="fill" style="background-image:url({{STATIC_URL}}img/7.jpg);"></div>
                </div>
            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="icon-prev"></span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="icon-next"></span>
            </a>
        </header>

{% endblock %}