{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
        <div class="panel panel-yellow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Listado de Fardos</strong></h4>
                <div class="btn-group pull-right">
                    <div class="input-group">
                        <div class="btn-group pull-right">
                            <a class="btn btn-default" type="button" onClick="ayuda('Ayuda listado fardos', 'El <strong>listado de fardos</strong> muestra el número de fardo, tipo de fardo, peso, caracteristicas(rinde, finura, coeficiente de variacion, altura media, y romana).</br><br>Ingrese en<strong> buscar </strong> el campo (número de fardo, tipo de fardo) por el cual desea filtrar los fardos.</br><br>Presione el botón <strong>agregar</strong> para registrar un nuevo fardo.</br><br>Presione el boton <strong>modificar</strong> para cambiar datos de un fardo.</br><br>Presione el boton <strong>eliminar</strong> para eliminar un fardo.</br><br>Presione el boton <strong>salir</strong> para volver al menú principal.')" ><span class="glyphicon glyphicon-question-sign"></span></a>
                        </div>
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" title="Buscar Ej: Nro. Orden - Dni - Nro. Maquina" onmouseDown = "alert('Error 404 - Dont Implement')"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" class="form-control" placeholder="Buscar"></input>
                    </div> 
                </div>
            </div>
            <div class="panel-body">
                <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tableLote" width="100%">
                    <thead>
                        <tr>
                            <th style="text-align:center;" width="7%">Nro. Fardo</th>
                            <th style="text-align:center;" width="8%">Tipo Fardo</th>
                            <th style="text-align:center;" width="6%">Peso (Kg)</th>
                            <th style="text-align:center;" width="6%">Rinde</th>
                            <th style="text-align:center;" width="6%">Finura</th>
                            <th style="text-align:center;" width="6%">CV</th>
                            <th style="text-align:center;" width="6%">Altura Media</th>
                            <th style="text-align:center;" width="6%">Romana</th>
                            <th style="text-align:center;" width="3%">Modificar</th>

                        </tr>
                        {% for dato in lista %}
                        <tr>
                            <td style="text-align:center;" width="7%">{{dato.NroFardo}}</td>
                            <td style="text-align:center;"  width="8%">{{dato.TipoFardo}}</td>
                            <td style="text-align:center;"  width="6%">{{dato.Peso}}</td>
                            <td style="text-align:center;" width="6%">{{dato.Rinde}}</td>
                            <td style="text-align:center;" width="6%">{{dato.Finura}}</td>
                            <td style="text-align:center;" width="6%">{{dato.CV}}</td>
                            <td style="text-align:center;" width="6%">{{dato.AlturaMedia}}</td>
                            <td style="text-align:center;" width="6%">{{dato.Romana}}</td>
                            <td style="text-align:center;" width="3%"><a class="btn btn-default" href="/modificarFardo/{{dato.NroFardo}}" ><span class="glyphicon glyphicon-edit"></span></a></td>
                        </tr>

                        {% empty %}
                            <li> No existen fardos registrados </li>
                        {% endfor %}        
                    </thead>
                </table>
                <script type ="text/javascript"> </script>
                <div class="pull-right">
                    <a class="btn btn-default btn-gr" type= "button" href="/registrarFardo">Agregar</a>
                    <a class="btn btn-default btn-gr" type= "button" onclick="history.back()">Salir</a>
                </div>    
            </div>
        </div>
    </div>
</div>
{% endblock %}