{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
        <div class="panel panel-yellow">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;"><strong>Listado de Estancias</strong></h4>
                <div class="btn-group pull-right">
                    <div class="input-group">
                        <div class="btn-group pull-right">
                            <a class="btn btn-default" type="button"  title = "Ayuda" onClick="ayuda('Ayuda listado estancias', 'El <strong>listado de estancias</strong> muestra el CUIT, nombre, provincia, zona, representante y productor asociados a la estancia.</br><br>Ingrese en<strong> buscar </strong>el campo (CUIT) por el cual desea filtrar las estancias.</br><br>Presione el boton <strong>agregar</strong> para registrar una nueva estancia.</br><br>Presione el boton <strong>modificar</strong> para cambiar datos de una estancia.</br><br>Presione el boton <strong>eliminar</strong> para eliminar una estancia.</br><br>Presione el boton <strong>salir</strong> para volver al menú principal.</br>')" ><span class="glyphicon glyphicon-question-sign"></span></a>
                        </div>
                        <span class="input-group-btn">
                            <a class="btn btn-default" type="button" title="Buscar: CUIT" onClick="javascript: errorBuscar('/buscarEstancia/', $('#buscar').val());"><span class="glyphicon glyphicon-search"></span></a>
                        </span>
                        <input type="text" id = "buscar" class="form-control" placeholder="Buscar"></input>
                    </div> 
                </div>
            </div>
            <div class="panel-body">
                <table  class="table table-striped table-bordered table-condensed" id="tableLote">
                    <thead>
                        <tr>
                            <th style="text-align:center;" width="6%">CUIT</th>
                            <th style="text-align:center;" width="10%">Nombre</th>
                            <th style="text-align:center;" width="10%">Provincia</th>
                            <th style="text-align:center;" width="10%">Zona</th>
                            <th style="text-align:center;" width="10%">Representante</th>
                            <th style="text-align:center;" width="10%">Productor</th>
                            <th style="text-align:center;" width="3%">Modificar</th>
                            <th style="text-align:center;" width="3%">Eliminar</th>
                        </tr>
                        {% for dato in lista %}
                        <tr>
                            <td style="text-align:center;" width="6%">{{dato.CUIT}}</td>
                            <td style="text-align:center;" width="10%">{{dato.Nombre}}</td>
                            <td style="text-align:center;" width="10%">{{dato.Provincia}}</td>
                            <td style="text-align:center;" width="10%">{{dato.Zona}}</td>
                            <td style="text-align:center;" width="10%">{{dato.Representante}}</td>
                            <td style="text-align:center;" width="10%">{{dato.Productor}}</td>
                            <td style="text-align:center;" width="3%"><a class="btn btn-default" href ="/modificarEstancia/{{dato.CUIT}}" title="Modificar" ><span class="glyphicon glyphicon-edit"></span></td>
        

                            <td style="text-align:center;" width="3%"> <a class="btn btn-default" onClick="eliminar('/eliminarEstancia/{{dato.CUIT}}', 'Eliminar Estancia', '¿Está seguro que quiere eliminar esta estancia?')"title="Eliminar"><span class="glyphicon glyphicon-remove"></span></a></td>
                        </tr>

                        {% empty %}
                            <li> No existen estancias registradas </li>
                        {% endfor %}        
                    </thead>
                </table>
                <script type ="text/javascript"> </script>
                <div class="pull-right">
                    <a class="btn btn-default btn-gr" type= "button" href="/registrarEstancia" title = "Agregar Estancia" >Agregar</a>
                    <a class="btn btn-default btn-gr" type= "button" href="/index" title = "Salir" >Salir</a>
                </div>    
            </div>
        </div>
    </div>
</div>
{% endblock %}