{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
        <div class="panel panel-green">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 10.5px;"> <font size = "5"color = "000000">Registrar maquinaria</font></h4>
                <div class="btn-group pull-right">
                    <a class="btn btn-default" type="button" title = "Ayuda" onClick="ayuda('<strong>Ayuda registrar maquinaria</strong>', 'El formulario <strong>registrar maquinaria</strong> solicita el ingreso de numero de serie, el servicio y descripción de la maquinaria.Los campos Nro. de serie y servicio son obligatorios.</br><br>Presione el botón <strong>registrar</strong> para ingresar una nueva maquinaria.</br><br>Presione el botón <strong>cancelar</strong> para volver al listado de maquinarias.</br>')"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
            </div>
            <div class="panel-body">
                {% crispy formulario %}
            </div>
        </div>
    </div>
</div>
{% endblock %}