<!DOCTYPE html>
<html lang='es'>
<meta charset='utf-8'>
<link rel='stylesheet' href= '{{STATIC_URL}}css/bootstrap.css'>
<link rel='stylesheet' href= '{{STATIC_URL}}css/base.css'>
  <head><div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title2">{% block titulo %}Modificar Maquinaria{% endblock %}</h3>
  </head>
  <head>
    <div class="panel panel-info">
      <div class="panel-heading">
          {% block title %}{% endblock %}
  </head> 

<form role="form">
  <div class="form-group">
    <label for="ejemplo_nro.Serie">NRO DE SERIE</label>
    <input type="nro.Serie" class="form-control" id="ejemplo_nro.Serie"
           placeholder="Ingrese Nro de Serie">
  </div>

  <div class="form-group">
    <label for="ejemplo_tipo">TIPO</label>
    <select class="form-control">
      <option>Lavado</option>
      <option>Peinado</option>
      <option>Cardado</option>
    </select>
  </div>

  <div class="form-group">
    <label for="ejemplo_descripcion">DESCRIPCION (opcional)</label>
    <input type="descripcion" class="form-control" id="ejemplo_descripcion" 
           placeholder="Ingrese descripcion">
  </div>
 
    <button type="button" class="btn btn-primary">Guardar cambios</button>
    <button type="cancelar" class="btn btn-primary">Cancelar</button>
</form>