<!DOCTYPE html>
<html lang='es'>
<meta charset='utf-8'>
<link rel='stylesheet' href= '{{STATIC_URL}}css/bootstrap.css'>
<link rel='stylesheet' href= '{{STATIC_URL}}css/base.css'>

    <head><div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title2">Modificar Lote</h3>

    </head>
    <head><div class="panel panel-info">                    
        <div class="panel-heading">{% block title %}{% endblock %}  
    </head>

  <form role="form">
    <div class="form-group">
      <label for="exampleInputNro.Lote">NUMERO LOTE</label>
      <input type="nro.Lote" class="form-control" id="exampleInputNro.Lote" placeholder="Ingrese número de lote">
    </div>
    
    <div class="form-group">
      <label for="exampleInputPeso">PESO</label>
      <input type="peso" class="form-control" id="exampleInputPeso" placeholder="Ingrese peso">
    </div>
    
    <div class="form-group">
      <label for="exampleInputCantidadFardos"> CANTIDAD DE FARDOS</label>
      <input type="cantidad fardos" class="form-control" id="exampleInputCantidadFardos" placeholder="Ingrese cantidad de fardos">
    </div>

    <button type="aceptar" class="btn btn-primary">Modificar</button>
    <button type="cancelar" class="btn btn-primary">Cancelar</button>
  </form>
</html>