<!DOCTYPE html>
<html lang='es'>
<meta charset='utf-8'>
<link rel='stylesheet' href= '{{STATIC_URL}}css/bootstrap.css'>
<link rel='stylesheet' href= '{{STATIC_URL}}css/base.css'>

  <head><div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title2">Modificacion de Fardo</h3>
    
  </head>

  <head>
    <div class="panel panel-info">
      <div class="panel-heading">{% block title %}{% endblock %}
  </head> 

<form role="form">
  <div class="form-group">
    <label for="ejemplo_nro.Fardo">NRO DE FARDO</label>
    <input type="nro.Fardo" class="form-control" id="ejemplo_nro.Fardo"
           placeholder="Ingrese Nro de Serie">
  </div>

  <div class="form-group">
    <label for="ejemplo_tipo">TIPO</label>
    <select class="form-control">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>

  <div class="form-group">
    <label for="ejemplo_Peso">PESO</label>
    <input type="peso" class="form-control" id="ejemplo_peso" 
           placeholder="Ingrese peso">
  </div>

  <div class="form-group">
    <label for="ejemplo_Rinde">RINDE</label>
    <input type="rinde" class="form-control" id="ejemplo_rinde" 
           placeholder="Ingrese rinde">
  </div>

  <div class="form-group">
    <label for="ejemplo_finura">FINURA</label>
    <input type="finura" class="form-control" id="ejemplo_finura" 
           placeholder="Ingrese finura">
  </div>
 
  <div class="form-group">
    <label for="ejemplo_Coeficiente">COEFICIENTE DE VARIACION</label>
    <input type="finura" class="form-control" id="ejemplo_coeficiente" 
           placeholder="Ingrese coeficiente">
  </div>

  <div class="form-group">
    <label for="ejemplo_altura_media">ALTURA MEDIA</label>
    <input type="altura_media" class="form-control" id="ejemplo_altura_media" 
           placeholder="Ingrese altura media">
  </div>

  <div class="form-group">
    <label for="ejemplo_micronaje">MICRONAJE</label>
    <input type="micronaje" class="form-control" id="ejemplo_micronaje" 
           placeholder="Ingrese micronaje">
  </div>

  <div class="form-group">
    <label for="ejemplo_romana">ROMANA</label>
    <input type="romana" class="form-control" id="ejemplo_romana" 
           placeholder="Ingrese romana">
  </div>
    <button type="button" class="btn btn-primary">Aceptar</button>
    <button type="cancelar" class="btn btn-primary">Cancelar</button>
</form>