{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}

<div class="container">
        <div class="panel panel-red">
            <div class="panel-heading clearfix">
                <h3 class="panel-title pull-left" style="padding-top: 7.5px;">Modificar Estancia</h3>
                <div class="btn-group pull-right">
                    <a class="btn btn-default" type="button" href="#" title="Ayuda"><span class="glyphicon glyphicon-question-sign"></span></a>
                    <a class="btn btn-default btn-gr" type="button" href="/listadoEstancias" title="Listado"><span class="glyphicon glyphicon-list-alt"></span></a>

                    <div class="input-group">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button" title="Buscar Ej: Nro. Orden - Dni - Nro. Maquina" onmouseDown = "alert('Error 404 - Dont Implement')"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                        <input type="text" class="form-control" placeholder="Buscar"></input>
                    </div> 
                </div>
            </div>

                <div class="panel-footer">
                    <table cellpadding="0" cellspacing="0" border="0" class="table table-striped table-bordered" id="tableEstancia" width="100%">
                        <thead>
                            <tr>
                                <th width="10%">CUIT</th>
                                <th width="10%">Nombre</th>
                                <th width="10%">Provincia</th>
                                <th width="10%">Zona</th>
                            </tr>
                            {% for dato in lista %}
                            <tr onclick = "this.style.backgroundColor = '#F2F2F2' ">
                                <td width="10%" id="nroCuit">{{dato.CUIT}}</td>
                                <td width="10%">{{dato.Nombre}}</td>
                                <td width="10%">{{dato.Provincia}}</td>
                                <td width="10%">{{dato.Zona}}</td>
                                <td width="5%"><a href="/modificarEstancia/{{dato.CUIT}}" class="   glyphicon glyphicon-edit"></a>
                                               <a href="/eliminarEstancia/{{dato.CUIT}}" class="glyphicon glyphicon-remove"></a>                               
                                </td>
                            </tr>

                            {% empty %}
                                <li> Aún no hay Estancias Cargadas </li>
                            {% endfor %}        
                        </thead>
                    </table>
                    <script type ="text/javascript"> </script>  
                </div>
        </div>
    </div>
</div>
{% endblock %}