<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
    <head>
        <title>My Title</title>
        <style type="text/css">
            @page {
                size: {{ pagesize }};
                margin: 1cm;
                @frame footer {
                    -pdf-frame-content: footerContent;
                    bottom: 0cm;
                    margin-left: 9cm;
                    margin-right: 9cm;
                    height: 1cm;
                }
            }
        </style>
    </head>
    <body>
        <div>

            <h4 style="text-align:right;"> <font size = "5"color = "000000">Fuhrmann SA</font></h4>
            <h4 class="panel-title pull-left" style="padding-top: 10.5px;"> <font size = "7"color = "000000">Listado de estancias</font></h4>
            </div>
            <br></br>
            <div class="panel-body">
                <table  class="table table-striped table-bordered table-condensed" id="tableLote">
                    <thead>
                        <tr>
                            <th style="text-align:center;" width="15%" font size = "6">CUIT</th>
                            <th style="text-align:center;" width="15%" font size = "6">Nombre</th>
                            <th style="text-align:center;" width="15%" font size = "6">Provincia</th>
                            <th style="text-align:center;" width="15%" font size = "6">Zona</th>
                            <th style="text-align:center;" width="15%" font size = "6">Representante</th>
                            <th style="text-align:center;" width="18%" font size = "6">Productor</th>
                        </tr>
                        {% for dato in lista %}
                        <tr>
                            <td style="text-align:center;" width="15%" size = "6">{{dato.CUIT}}</td>
                            <td style="text-align:center;" width="15%" size = "6">{{dato.Nombre}}</td>
                            <td style="text-align:center;" width="15%" size = "6">{{dato.Provincia}}</td>
                            <td style="text-align:center;" width="15%" size = "6">{{dato.Zona}}</td>
                            <td style="text-align:center;" width="15%" size = "6">{{dato.Representante}}</td>
                            <td style="text-align:center;" width="18%" size = "6">{{dato.Productor}}</td>
                        {% endfor %}
        </div>
        <div id="footerContent">
            {%block page_foot%}
                Page <pdf:pagenumber>
            {%endblock%}
        </div>
    </body>
</html>