{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
	<div class="well">
		<div class="panel panel-default">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Registrar Estancia</h4>
                <div class="btn-group pull-right">
                    <a class="btn btn-default" type="button" href="#" title="Ayuda"><span class="glyphicon glyphicon-question-sign"></span></a>
                    <a class="btn btn-default " type="button" href="#" title="Info"><span class="glyphicon glyphicon-info-sign"></span></a>
                    <a class="btn btn-default btn-gr" type="button" href="#" title="Listado"><span class="glyphicon glyphicon-list-alt"></span></a>
                </div>
            </div>
			<div class="panel-body">
				{% crispy formulario %}
			</div>
		</div>
	</div>
</div>
{% endblock %}