{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
        <div class="panel panel-green">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Representante</h4>
                <div class="btn-group pull-right">
                    <a class="btn btn-default" type="button" href="#" title="Ayuda"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
            </div>
            <div class="panel-body">
                {% crispy formulario %}
            </div>
        </div>
    </div>
</div>
{% endblock %}