{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block contenido %}
<div class="container">
    
        <div class="panel panel-green">
            <div class="panel-heading clearfix">
                <h4 class="panel-title pull-left" style="padding-top: 7.5px;">Registrar Venta</h4>
                <div class="btn-group pull-right">
                    <a class="btn btn-default" type="button" onClick="ayuda('Ayuda registrar venta', 'El formulario <strong>registrar venta</strong> solicita el ingreso del lote de venta, el nombre del cliente  y la fecha en la que se realizó la misma. Todos los campos son obligatorios.</br><br>Presione el boton <strong>registrar</strong> para confirmar una nueva venta.</br><br>Presione el boton <strong>cancelar</strong> para volver al listado de ventas.</br>')"><span class="glyphicon glyphicon-question-sign"></span></a>
                </div>
            </div>
            <div class="panel-body">
                {% crispy formulario %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts %}
<script>
    $(function() {
        $( "#datepicker" ).datepicker({ dateFormat: 'dd/mm/yy', 
                                        inline: true
        });
    });
</script>
{% endblock %}